/* Style for date fields and input fields at the top */
#formAndTable {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Style for date inputs and "All Categories" select */
#filterForm input[type="date"],
#filterForm input[type="text"],
#allCategories {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    transition: border-color 0.3s ease;
    outline: none;
    background-color: #f5f5f5;
    /* Background color for consistency */
    font-family: Arial, sans-serif;
    /* Change to your preferred font */
    color: #333;
    /* Text color */
}

/* Style for date input when focused */
#filterForm input[type="date"]:focus,
#filterForm input[type="text"]:focus,
#allCategories:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: #fff;
    /* Change background color when focused */
    color: #333;
    /* Change text color when focused */
}

/* Style for submit button */
#filterForm input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    outline: none;
}

#filterForm input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Add margin to the table headers */
thead tr th {
    white-space: nowrap;
    padding: 0.5rem 0.75rem;
    font-weight: normal;
    font-size: 14px;
    color: #111827;
    background-color: #f3f4f6;
    border-bottom: 2px solid #e5e7eb;
    text-align: left;
    margin-top: 20px;
}

#reports {
    display: flex;
    justify-content: space-between;
}

.chart-container {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.chart-container canvas {
    width: 100%;
    height: auto;
}

.buttonToLeft {
    margin: auto;
}

.adminMessageInput {
    width: 8.5rem;
}