thead tr th {
  white-space: nowrap;
  padding: 0.2rem 0.2rem;
  font-weight: normal;
  color: #111827;
  background-color: #f3f4f6;
  border-bottom: 2px solid #e5e7eb;
}

/* Apply styles to the table body */
tbody tr td {
  white-space: nowrap;
  padding: 0.2rem 0.2rem;
  color: #4b5563;
}

/* Alternate row colors */
tbody tr:nth-child(even) {
  background-color: #f3f4f6;
}

/* Hover effect for rows */
tbody tr:hover {
  background-color: #edf2f7;
}
