/* Style for table headers */
thead tr th {
  white-space: nowrap;
  padding: 0.5rem;
  font-weight: normal;
  font-size: 14px;
  color: #111827;
  background-color: #f3f4f6;
  border-bottom: 2px solid #e5e7eb;
  text-align: left;
}

/* Style for table body */
tbody tr td {
  white-space: nowrap;
  padding: 0.5rem;
  color: #4b5563;
  border-bottom: 1px solid #e5e7eb;
}

/* Alternate row colors */
tbody tr:nth-child(even) {
  background-color: #f3f4f6;
}

/* Hover effect for rows */
tbody tr:hover {
  background-color: #edf2f7;
}

/* Add a border to the last row to separate it from the rest of the content */
tbody tr:last-child {
  border-bottom: 2px solid #e5e7eb;
}

/* Style the table itself */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  table-layout: fixed;
  /* Ensure even distribution of column space */
}

/* Style table cell borders */
td,
th {
  border: 1px solid #e5e7eb;
}

/* Add some spacing around the table */
.table-container {
  overflow-x: auto;
  max-width: 90%;
  margin: 20px 0;
}

/* Center-align the table */
.table-container {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 100%;
  /* Fill the container's height */
}

/* Apply styles to the table itself */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  /* Ensure even distribution of column space */
}

/* Style table cell borders */
td,
th {
  border: 1px solid #e5e7eb;
}

/* Add some spacing around the table */
.table-container table {
  max-width: 90%;
  margin: 20px 0;
}

.button {
  display: inline-block;
  width: 100%;
  /* Full width on small screens, will change on larger screens */
  padding: 2px 4px;
  /* Adjust padding as needed */
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  font-family: 'Send', sans-serif;
  background-color: #3b82f6;
  /* Set your desired background color */
  color: #ffffff;
  /* Set your desired text color */
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Define hover styles */
.button:hover {
  color: #0a0e15;
  /* Change text color on hover */
  background-color: #bfdbfe;
  /* Change background color on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* Add a shadow on hover */
}

/* Define active styles */
.button:active {
  color: #6b23a1;
  /* Change text color when active (button pressed) */
  background-color: transparent;
  /* Change background color when active */
}